<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk4mvgIvL5bX5uLfkYpKbVMBH_OIqZxnI</string>
	<key>GCM_SENDER_ID</key>
	<string>625355392173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Insta-clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-d4ada</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-d4ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625355392173:ios:6cbb439e8278d5ec2eb224</string>
</dict>
</plist>